<!-- 顶部导航 -->
    <nav class="top_search_bar">
        <div class="tab_box"></div>
        <div class="top_search_contain jdshop_alignment_center">
            <a class="left">
                <p class="icon_btn"></p>
                <p>嘉福平台</p>
            </a>
            <a class="content" href="../jdshop_search/search.html">
                <div class="search_tab jdshop_alignment_middle">
                    <i></i><span>查找您需要的商品</span>
                </div>
            </a>
            <a class="right">
            </a>
        </div>
    </nav>

<div class="product_content jdshop_alignment_center">

    <%- include('sliding_category_left/product_category_1_slide.ejs')%>

    <%- include('product_category_right/product_category_1_page.ejs')%>


</div>




<!-- 底部导航 -->
<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain jdshop_alignment_center ">
        <a href="../jdshop_homepage/main.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_home_red.png"></div>
            <p>商城首页</p>
        </a>
        <a class="current_page" href="../jdshop_category/product_category.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_sorts_red.png"></div>
            <p>分类</p>
        </a>
        <a  href="../jdshop_shoppingcart/shoppingcart.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_car_red.png"></div>
            <p>购物车</p>
        </a>
        <a href="../jdshop_order/shop_order.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_order_red.png"></div>
            <p>商城订单</p>
        </a>
    </div>
</footer>


