<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">
        <a class="left" onclick="window.history.go(-1)">
            <p><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content">

            <div class="nav_tab">物流信息</div>
        </div>
        <a class="right">&nbsp;</a>
    </div>
</nav>
