<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain jdshop_alignment_center ">
        <a href="../jdshop_homepage/main.html" class="current_page">
            <div class="tabbar_icon"><img src="../../icon/icon_main_home_red.png"></div>
            <p>商城首页</p>
        </a>
        <a href="../jdshop_category/product_category.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_sorts_red.png"></div>
            <p>分类</p>
        </a>
        <a href="../jdshop_shoppingcart/shoppingcart.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_car_red.png"></div>
            <p>购物车</p>
        </a>
        <a href="../jdshop_order/shop_order.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_order_red.png"></div>
            <p>商城订单</p>
        </a>
    </div>
</footer>