<div class="homepage_notice_board jdshop_alignment_center">
   <div class="notice_title jdshop_alignment_middle"><img src="../../images/notice_jd_title_1.png"></div>

    <div class="notice_content">
        <div>
            <a>
                <span>精选优质好物，全场满99包邮，京东送货到家，最优质的全在这里啦！</span>
            </a>
        </div>
    </div>
</div>