<nav class="top_search_bar">
    <div class="tab_box"></div>
    <div class="top_search_contain jdshop_alignment_center">
        <a class="left">
            <p class="icon_btn"></p>
            <p>嘉福平台</p>
        </a>
        <a class="content" href="../jdshop_search/search.html">
            <div class="search_tab jdshop_alignment_middle">
                <i></i><span>精选商品任你挑</span>
            </div>
        </a>
        <a class="right">
        </a>
    </div>
</nav>