<div>
    <!-- 热销海鲜-->
    <div class="normal_product ">

        <div class="title">
            <div class="watches"><!--决定货架样式的class值-->
                <p>热销海鲜</p><!--货架名称，文案可以变化-->

            </div>
            <a class="product_more" href="#">查看更多</a>
        </div>
        <!--商品list-->
        <div class="product_list jf_product">

            <a href="../jdshop_product/product.html">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/3.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/4.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/6.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>

            <p><span>查看更多</span><span>＞</span></p>

        </div>

    </div>
    <!--食品生鲜-->
    <div class="normal_product ">

        <div class="title">
            <div class="food"><!--决定货架样式的class值-->
                <p>食品生鲜</p><!--货架名称，文案可以变化-->

            </div>
            <a class="product_more" href="#">查看更多</a>
        </div>
        <!--商品list-->
        <div class="product_list jf_product">

            <a href="../jdshop_product/product.html">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">正大食品(CP)番茄肉酱面330g(2件起售)</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/3.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/4.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/6.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>

            <p><span>查看更多</span><span>＞</span></p>

        </div>

    </div>
    <!--酒水饮料-->
    <div class="normal_product ">

        <div class="title">
            <div class="wine"><!--决定货架样式的class值-->
                <p>酒水饮料</p><!--货架名称，文案可以变化-->

            </div>
            <a class="product_more" href="#">查看更多</a>
        </div>
        <!--商品list-->
        <div class="product_list jf_product">

            <a href="../jdshop_product/product.html">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">正大食品(CP)番茄肉酱面330g(2件起售)</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/3.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/4.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/1.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/2.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/6.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>
            <a href="#">
                <div class="pro_pic">
                    <img data-src="../../images/5.jpg" class="lazypic" src="../../images/img_loading.gif">
                </div>

                <div class="pro_text">

                    <p class="details">美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</p>
                    <p class="new_price">¥99.00</p>
                    <p class="old_price">¥199.00</p>
                </div>

            </a>

            <p><span>查看更多</span><span>＞</span></p>

        </div>

    </div>


</div>

<script>

    //图片懒加载

        newLazyLoad.init({

            "thisDisBottom":30//触发图片懒加载的距离

        });


    viewMorePro.showMore();//查看更多;如果不希望滚动条滑动后，触发页面跳转，去掉改元素的class值jf_product即可

</script>