<!-- 秒杀专栏-->
<div class="main_6_seckill">

    <!--标题-->

    <div class="seckill_title">
        <i>•</i><span class="red">每天</span><span>秒杀</span>商品专区<i>•</i>
    </div>

    <!--商品列表-->

    <div class="seckill_contain">

        <div class="seckill_list jdshop_alignment_left" id="viewMore">
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_4.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥45</span></div>
                        <div>￥72</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_2.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥6</span></div>
                        <div>￥6.3</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_3.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥8.4</span></div>
                        <div>￥11</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_1.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥12.5</span></div>
                        <div>￥111</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_3.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥99.0</span></div>
                        <div>￥129</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_4.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥59</span></div>
                        <div>￥729</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_2.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥60.5</span></div>
                        <div>￥62</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_3.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥856.00</span></div>
                        <div>￥1129.00</div>
                    </div>
                </div>

            </a>
            <!-- 商品-->
            <a class="seckill_product" href="#">
                <!-- 商品图片-->
                <div class="box">
                    <div class="seckill_image">
                        <img src="../../images/product_list_1.jpg">
                    </div>
                    <!-- 商品价格-->
                    <div class="seckill_price">
                        <div><span>￥12434.00</span></div>
                        <div>￥11229.00</div>
                    </div>
                </div>

            </a>

            <!-- 查看更多-->

            <a class="view_more jdshop_alignment_left" href="../jdshop_panic_buying/panic_buying.html" id="jumpHrefView">
                <div class="arrow_left">←<span></span></div>
                <div>查看更多</div>
            </a>

        </div>

    </div>


</div>

<script>



    //释放后跳转链接
    jdShopSecKill.viewMore();




</script>