<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images jf_autoplay_init">

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab pink">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_paster">
                    <img src="../../images/banner_pink_sticker.png">
                </div>

                <div class="banner_background">
                    <img src="../../images/banner_pink_bg.jpg">
                </div>

                <div class="banner_theme pink" style="left:57%;top:19%">
                    <img src="../../images/banner_pink_theme.png">
                </div>

            </div>
        </a>

        <a href="../jdshop_product/product.html">
            <div class="JD_banner_template">
                <div class="banner_tab blue">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>


                <div class="banner_paster">
                    <img src="../../images/banner_blue_sticker.png">
                </div>


                <div class="banner_background">
                    <img src="../../images/banner_blue_bg.jpg">
                </div>

                <div class="banner_theme blue" style="left:7%;top:26%">
                    <img src="../../images/banner_blue_theme.png">
                </div>

            </div>
        </a>

        <!--17.08.11 banner新-->

<!--粉色banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab pink1">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner1-pink-background.jpg">
                </div>

                <div class="banner_theme pink1" style="left:65.5%;top:28.9%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner1-pink-goods.jpg">
                </div>

            </div>
        </a>

<!--绿色banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab dark_green">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner2-green-background.jpg">
                </div>

                <div class="banner_theme dark_green" style="left:21.4%;top:33.9%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner2-green-goods.jpg">
                </div>

            </div>
        </a>

 <!--黄色banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab yellow">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>
                <div class="banner_paster">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner3-yellew-see.png">
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner3-yellow-background.jpg">
                </div>

                <div class="banner_theme yellow" style="left:12.5%;top:27%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner3-yellow-goods.jpg">
                </div>

            </div>
        </a>

<!--肉色banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab flesh">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner4-flesh-background.jpg">
                </div>

                <div class="banner_theme flesh" style="left:61.9%;top:36%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner4-flesh-goods.jpg">
                </div>

            </div>
        </a>

<!--深蓝绿banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab deongaree">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner5-deongaree-background.jpg">
                </div>

                <div class="banner_theme deongaree" style="left:25%;top:49%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner5-deongaree-goods.jpg">
                </div>

            </div>
        </a>

 <!--薄荷绿banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab mintgreen">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner6-mintgreen-background.jpg">
                </div>

                <div class="banner_theme mintgreen" style="left:66.9%;top:44.1%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner6-mintgreen-goods.jpg">
                </div>

            </div>
        </a>

<!--紫色banner-->
        <a href="javascript:">
            <div class="JD_banner_template">
                <div class="banner_tab purple1">
                    <div class="banner_tab_text">猜你喜欢的商品TOP</div>
                </div>

                <div class="banner_background">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner7-purple-background.jpg">
                </div>

                <div class="banner_theme purple1" style="left:56%;top:25.5%">
                    <img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/banner7-purple-goods.jpg">
                </div>

            </div>
        </a>


    </div>

    <div class="jf_pagination">

    </div>

</div>

<script>

    jfAutoPlay.jfCarouselInit();

</script>