<div class="homepage_follow_goods">
    <!-- block 1 -->
    <div class="follow_block">
        <!-- title -->
        <div class="org_icon"><img src="../../images/product_b1_icon.png"></div>
        <div>关注推荐</div>
        <div class="subtitle">-购物指南-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b1_s.jpg"></a>
            <a class="product_m" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b1_l.jpg"></a>
        </div>
    </div>
    <!-- block 2-->
    <div class="follow_block">
        <!-- title -->
        <div class="red_icon"><img src="../../images/product_b2_icon.png"></div>
        <div>同事喜欢</div>
        <div class="subtitle">-呈现好品质-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_s.jpg"></a>
            <a class="product_m" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_l.jpg"></a>
        </div>
    </div>
    <!-- block 3-->
    <div class="follow_block">
        <!-- title -->
        <div class="special_icon">
            <img class="face" src="../../images/product_b3_icon.png" >
            <img class="back" src="../../images/product_b3_icon_face.png">
        </div>
        <div>京东精选</div>
        <div class="subtitle">-质选良品-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_s.jpg"></a>
            <a class="product_m" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_l.jpg"></a>
        </div>
    </div>
    <!-- block 4-->
    <div class="follow_block">
        <!-- title -->
        <div class="blue_icon"><img src="../../images/product_b4_icon.png"></div>
        <div>必买清单</div>
        <div class="subtitle">-收入囊中-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b4_s.jpg"></a>
            <a class="product_m" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b4_l.jpg"></a>
        </div>
    </div>
</div>
