<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            秒杀商品，手慢就没了啦
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<!-- 小标题-->
<%- include('./panic_buy_1_title.ejs')%>


<!-- 商品列表-->

<%- include('./panic_buy_2_list.ejs')%>
