
<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_b4_s.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_4.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_1.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->

<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_2.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_3.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_4.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_b4_s.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_b4_s.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_1.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿
        </span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->

<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_2.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_3.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_list_4.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_b4_s.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

<!-- 商品列表-->
<a class="panic_buying_2_list jdshop_alignment_left" href="javascript:;">

    <div class="panic_buying_2_list_1">

        <img src="../../images/product_b4_s.jpg">

    </div>

    <div class="panic_buying_2_list_2" >

        <span class="title">倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        倩碧卓越润肤乳（天才黄油+）护肤保湿滋润
        护肤保湿滋润</span>

        <div class="buy_number">
            <div class="panic_buying_2_list_3"><span class="price">¥295.00</span><span>¥335.00</span></div>
            <div class="panic_buying_2_list_5">抢购</div>

        </div>
    </div>




</a>

