<div class="product_category_page">
    <!-- 推荐分类 标题-->
    <div class="recommended_title font_red">-<span></span>推荐分类 -</div>
    <!-- 正常分类 标题-->
   <!-- <div class="title font_dark_gary">推荐分类<i></i></div>-->
    <div class="product_category_list">
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>手机数码</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></p>
            <p>城市自行车</p>
        </a>
    </div>
</div>

<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })
</script>