<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left">
            <p class="icon_btn"></p>
            <p>嘉福平台</p>
        </a>
        <div class="content jdshop_alignment_center">
            购物车
        </div>
        <a class="right" id="editTabBtn">
            编辑
        </a>
    </div>
</nav>


<!-- 页面内容 -->

<div class="shopping_cart_module">

    <%- include('shopping_cart_module/shopping_cart_1_address.ejs') %>

    <%- include('shopping_cart_module/shopping_cart_2_instruction.ejs') %>

    <%- include('shopping_cart_module/shopping_cart_3_list.ejs') %>

</div>


<div id="shopping_cart_prompt">

    <%- include('../../component/product/product_prompt/product_prompt_1_address.ejs') %>

</div>

<!-- 切换tab-->


<!-- 编辑 -->
<div class="operation_tab jdshop_alignment_center" id="settlementTab">
    <div class="jdshop_alignment_left">
        <label>
            <input class="radio allcheck" type="checkbox"><span>全选</span>
        </label>
        <div class="price">合计:<span class="font_red">￥139000.00</span></div>
    </div>
    <a class="operation_btn orange" href="../jdshop_purchasing_process/order_confirm.html">去结算</a>
</div>
<!-- 删除 -->
<div class="operation_tab jdshop_alignment_center" id="deleteTab">
    <div class="jdshop_alignment_left">
        <label>
            <input class="radio allcheck" type="checkbox"><span>全选</span>
        </label>
    </div>
    <a class="operation_btn red" id="deleteBtn">删除</a>
</div>


<!-- 底部导航 -->
<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain jdshop_alignment_center ">
        <a href="../jdshop_homepage/main.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_home_red.png"></div>
            <p>商城首页</p>
        </a>
        <a href="../jdshop_category/product_category.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_sorts_red.png"></div>
            <p>分类</p>
        </a>
        <a class="current_page" href="../jdshop_shoppingcart/shoppingcart.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_car_red.png"></div>
            <p>购物车</p>
        </a>
        <a href="../jdshop_order/shop_order.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_order_red.png"></div>
            <p>商城订单</p>
        </a>
    </div>
</footer>


<script>


    //编辑&完成 tab切换
    jdShoppingCart.editDeleteChange();

    //全选反选

    jdShoppingCart.checkBoxChange();


    function deleteList() {


        document.getElementById('deleteBtn').addEventListener('click', function () {


            jfShowTips.dialogShow({

                'mainText': '友情提示',
                'minText': '确认要删除这个商品吗？',
                'checkFn': function () {

                    jfShowTips.dialogRemove();//弹出框消失

                    var listBox = document.getElementById('list_contain').getElementsByClassName('list_contain');

                    for (var i = 0; i < listBox.length; i++) {

                        if (listBox[i].getElementsByClassName('radio')[0].checked) {

                            listBox[i].style.display = 'none';


                            if (document.getElementsByClassName('allcheck')[0].checked){

                                document.getElementById('settlementTab').style.display = 'none';

                                document.getElementById('deleteTab').style.display = 'none';

                                document.getElementById('editTabBtn').innerHTML = ''
                            }



                        }
                    }
                }
            });

        }, false)

    }

    deleteList();



</script>

