

<div class="jdshop_similar_goods">

    <!-- 商品信息 -->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11毛孔洁面仪</div>


            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price"><span>￥</span>2389.00</div>

            </div>
        </div>
    </div>


</div>