<a class="search_find_title" href="../jdshop_search/search_results.html">电脑主板
    <!--<div class="choose_other">-->
        <!--<span>电脑主板</span>-->
        <!--<span>max2</span>-->
        <!--<span>5c</span>-->
    <!--</div>-->

</a>
<a class="search_find_title" href="../jdshop_search/search_results.html">电脑主板
    <div class="choose_other">
        <span>畅玩5c</span>
        <span>京东自营</span>
    </div>
</a>
<a class="search_find_title" href="../jdshop_search/search_results.html">n4s
    <div class="choose_other">
        <span>代购</span>
        <span>京东自营</span>
    </div>
</a>

<a class="search_find_title" href="../jdshop_search/search_results.html">手工饰品
    <div class="choose_other">
        <span>时尚</span>
    </div>
</a>

<a class="search_find_title" href="../jdshop_search/search_results.html">箱包手袋
    <div class="choose_other">
        <span>手提</span>
        <span>双肩包</span>
    </div>
</a>

<a class="search_find_title" href="../jdshop_search/search_results.html">美妆护肤
    <div class="choose_other">
    </div>
</a>

<a class="search_find_title" href="../jdshop_search/search_results.html">钟表珠宝
    <div class="choose_other">
        <span>钻石</span>
        <span>手表</span>
    </div>
</a>