<!-- 顶部导航 -->
<nav class="top_search_bar">
    <div class="tab_box"></div>
    <div class="top_search_contain jdshop_alignment_center">
        <a class="left" >

        </a>
        <div class="content">
            <div class="search_tab jdshop_alignment_middle">
                <i></i>
                <form action="">
                    <input type="search" placeholder="查找您需要的商品">
                </form>

            </div>
        </div>
        <a class="right">
            <p onclick="window.history.go(-1)">取消</p>
        </a>
    </div>
</nav>