<div class="fail_animation">


        <div class="fail_animation_circle"></div>

        <div class="fail_animation_cloud "></div>

        <div class="fail_animation_line2"></div>

        <div class="fail_animation_line3"></div>

        <div class="fail_animation_wrong"></div>


    <div class="fail_animation_text"><%=text%></div>

</div>
