<div class="order_confirm_total jdshop_shadow">
    <div class="text_list jdshop_alignment_center">
        <p>商品总金额：</p>
        <p class="font_red">￥123,678,000.00</p>
    </div>
    <div class="text_list jdshop_alignment_center">
        <p>订单运费：</p>
        <p class="font_red">￥24.00</p>
    </div>
    <div class="text_list jdshop_alignment_center">
        <p>优惠券：</p>
        <p class="font_red">-20.00</p>
    </div>

    <div class="text_list jdshop_alignment_center">
        <p>实付金额：</p>
        <p class="font_red">￥121224.00</p>
    </div>
</div>