.order_details_phone {
  background-color: #fff;
  margin-bottom: 15px;
  .text_list {
    padding: 10px 15px;
    a {
      color: #8a8a8a;
    }
    #view_order{
      display: inline-block;
      margin-left: 5px;
      border: 1px solid #8a8a8a;
      padding: 2px 5px;
      border-radius: 5px;
      color: #4a4a4a;
      font-size: 12px;
    }

    p{
      padding-bottom: 10px;
      color: #8a8a8a;
      img{
        padding-left: 10px;
        width: 18px;
        height: 18px;
        vertical-align: sub;
      }
    }
  }
}

/*订单添加 注释*/
.order_confirm_total{
  .order_help{
    display: inline-block;
    width: 18px;
    height: 18px;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
}