<div class="order_details_phone jdshop_shadow">
    <div class="text_list">
        <p>京东订单号:1701020000001123，被拆单<span id="view_order">查看子单号</span></p>
        <p><a href="tel:400-606-6666">京东售后客服电话<img src="../../images/order_details_5_phone.png"></a></p>
        <p><a href="tel:400-656-1000" >京东家电安装电话<img src="../../images/order_details_5_phone.png"></a></p>
        <p><a href="tel:010-67891234">嘉福平台客服电话（周一至周五9:00-18:00）<img src="../../images/order_details_5_phone.png"></a></p>
    </div>
</div>


<script>

    //模态框
    jfOrderTips.orderDetailsDialog();



</script>
