<div class="order_details_logistics jdshop_shadow">

    <div class="title jdshop_alignment_left">
        <span></span>
        <p>您的商品正在派送中</p>
    </div>
    <div class="details_imf font_in_gary">
        <p>订单编号：170102000001123</p>
        <p>下单时间：2017-06-05  18:00</p>
    </div>

</div>