<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            支付失败
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<div class="payment_content">

    <%- include('payment_wrong_content/payment_1_animation_wrong.ejs') %>

    <%- include('payment_wrong_content/payment_2_detail.ejs') %>

    <%- include('payment_wrong_content/payment_3_operation.ejs') %>

    <%- include('payment_wrong_content/payment_4_prompt.ejs') %>


</div>