<style>
    button {

        width: 100%;
        height: 50px;
        display: block;
        margin: 10px 0;
    }

</style>

<button onclick="show11.show()">点我弹出框</button>


<div class="jf_dialog" id="dialog_text">

    <div class="dialog_bg"></div>

    <div class="dialog_box">
        <div class="text_dialog_container">
            <div class="text_big">选择优惠券</div>
            <div class="text_small">


                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>
                <p>添加的内容</p>


            </div>

        </div>
    </div>


</div>

<script>

    show11=new jfDialog({
        'ele':'dialog_text',
        'scrollClassname':'text_small'
    })


</script>