<style>
    button {

        width: 100%;
        height: 50px;
        display: block;
        margin: 10px 0;
    }

</style>

<div id="showLog" style="position: fixed;left: 0;top: 100px;background: black;color: white;z-index: 9999999">111</div>

<button onclick="test1.show()" style="position: fixed;top: 0;left: 0;z-index: 111">点我</button>


<%- include('../search_results/search_results_list/search_results_1_list.ejs') %>


<%- include('../search_results/search_results_list/search_results_1_list.ejs') %>


<button onclick="test1.show()">点我</button>


<%- include('../search_results/search_results_list/search_results_1_list.ejs') %>


<%- include('../search_results/search_results_list/search_results_1_list.ejs') %>


<button onclick="test1.show()">点我</button>


<!-- 弹出框-->




<div class="jf_pop_up" id="test5">

    <div class="jf_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">请选择1</div>

            <div class="pop_cancel"></div>

            <div class="pop_line"></div>

        </div>

        <div class="pop_main" style="max-height:300px;overflow-y: scroll">

            <p>1111111111</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>11</p>
            <p>22222222</p>


        </div>

    </div>

    <div class="jf_pop_up_bg">

    </div>

</div>


<script>

    test1 = new jfShowPop({
        'ele': 'test5'//弹出框的id
    })



    clickThrough('pop_main')


    function clickThrough(hasScrollEle) {


        var thisScrollEle = document.getElementsByClassName(hasScrollEle)[0];

        var thisTop = document.getElementsByClassName('pop_top')[0]

        var startY, endY, distance;//开始距离、移动距离

        thisScrollEle.addEventListener('touchstart', touchStartEle, false);

        thisScrollEle.addEventListener('touchmove', reachEdge, false);

        thisTop.addEventListener('touchmove', windowBanEvent.Canceling,false);
        //thisScrollEle.addEventListener('touchmove', reachEdge, false);


        function touchStartEle(e) {

            //touchstart 获取位置startY

            startY = e.touches[0].pageY;

        }


        function reachEdge(event) {

            var _this = this;

            var eleScrollHeight = _this.scrollTop;//获取滚动条的位置 206

            var eleHeight = _this.scrollHeight;//元素实际高度 506

            var containerHeight = _this.offsetHeight;//容器高度 300



            //touchmove 获取位置 endY

            endY = event.touches[0].pageY;

            //两者之减的距离用来判断是向上活动还是向下滑动
            distance = startY - endY;

            //此时touchmove的值等于touchstart的值 循环
            endY = startY;


            //滚动条到达底部

            if (Math.abs(parseFloat(eleHeight) - parseFloat(eleScrollHeight + containerHeight)) <= 2) {


                //如果距离为正数 则向上滑动是 禁止浏览器事件

                if (distance > 0) {

                    event.preventDefault();


                }


            }

            else if (Math.abs(parseFloat(eleScrollHeight)) == 0) {

                //如果距离为负数 则向下滑动

                if (distance < 0) {

                    event.preventDefault();

                }


            }

        }


    }




</script>