<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>个人中心</title>
</head>

<body>

<%- include('../../component/mine/information.ejs') %>

<%- include('../../component/mine/all_order.ejs') %>

<%- include('../../component/mine/list.ejs') %>

<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain jdshop_alignment_center ">
        <a href="../jdshop_homepage/main.html" class="tabbar_item">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_home_grey1.png">
                <img src="../../icon/icon_main_home_red1.png">
            </div>
            <p>商城首页</p>
        </a>
        <a href="../jdshop_category/product_category.html" class="tabbar_item">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_sorts_grey1.png">
                <img src="../../icon/icon_main_sorts_red1.png">
            </div>
            <p>分类</p>
        </a>
        <a href="../jdshop_shoppingcart/shoppingcart.html" class="tabbar_item">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_car_grey1.png">
                <img src="../../icon/icon_main_car_red1.png">
            </div>
            <p>购物车</p>
        </a>
        <a href="../jdshop_order/shop_order.html" class="tabbar_item on">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_order_grey1.png">
                <img src="../../icon/icon_main_order_red1.png">
            </div>
            <p>商城订单</p>
        </a>
    </div>

</body>

</html>