<div class="shop_order_list show">
    <!-- go_pay 去支付-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">待付款</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list jdshop_alignment_top">
            <div class="main_images">
                <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price"><span>￥</span>2389.00</div>
                    <div>×1</div>
                </div>
            </div>
        </div>
        <!-- 合计 -->
            <div class="total">
                共<span>1</span>件商品，订单金额：<span>￥2389.00</span>
            </div>
            <!-- 操作按钮 -->
            <div class="order_btn_list go_pay">
                <a class="order_btn" href="../jdshop_purchasing_process/payment_successful.html">去支付</a>
            </div>
        </div>

        <!-- go_pie 物流信息-->
    <div class="shop_order_contain jdshop_shadow">
            <!-- 订单状态 -->
            <div class="order_status jdshop_alignment_center">
                <p>订单状态</p>
                <p class="font_red">派件中</p>
            </div>
            <!-- 商品信息 -->
            <div class="goods_list jdshop_alignment_top">
                <div class="main_images">
                    <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_details">
                    <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price"><span>￥</span>6399.00</div>
                        <div>×1</div>
                    </div>
                </div>
            </div>
            <!-- 合计 -->
            <div class="total">
                共<span>1</span>件商品，订单金额：<span>￥6799.00</span>
            </div>
            <!-- 操作按钮 -->
            <div class="order_btn_list go_pie">
                <a class="order_btn" href="../jdshop_order/shop_order_details.html">查看物流</a>
            </div>
        </div>

    <!-- 物流信息 多个商品 无操作按钮-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_in_gary">已完成</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list more_goods">
            <div class="more_goods_box">
                <div class="main_images">
                    <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>

                <div class="main_images">
                    <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>10</span>件商品，订单金额：<span>￥6799.00</span>
        </div>
    </div>

    </div>

<!-- 待付款 去支付-->
<div class="shop_order_list">
    <!-- go_pay 去支付-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">待付款</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list jdshop_alignment_top">
            <div class="main_images">
                <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price"><span>￥</span>2389.00</div>
                    <div>×1</div>
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>1</span>件商品，订单金额：<span>￥2389.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pay">
            <a class="order_btn">去支付</a>
        </div>
    </div>

    <!-- go_pie 物流信息-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">待付款</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list jdshop_alignment_top">
            <div class="main_images">
                <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
                <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price"><span>￥</span>6399.00</div>
                    <div>×1</div>
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>1</span>件商品，订单金额：<span>￥6799.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pay">
            <a class="order_btn">去支付</a>
        </div>
    </div>

    <!-- 物流信息 多个商品 无操作按钮-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">派件中</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list more_goods">
            <div class="more_goods_box">
                <div class="main_images">
                    <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>

                <div class="main_images">
                    <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>10</span>件商品，订单金额：<span>￥6799.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pay">
            <a class="order_btn">去支付</a>
        </div>
    </div>

</div>
<!-- 待收货 查看物流 -->

<div class="shop_order_list">
    <!-- go_pay 去支付-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">派件中</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list jdshop_alignment_top">
            <div class="main_images">
                <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price"><span>￥</span>2389.00</div>
                    <div>×1</div>
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>1</span>件商品，订单金额：<span>￥2389.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pie">
            <a class="order_btn" href="../jdshop_order/shop_order_details.html">查看物流</a>
        </div>
    </div>

    <!-- go_pie 物流信息-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">派件中</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list jdshop_alignment_top">
            <div class="main_images">
                <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
                <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price"><span>￥</span>6399.00</div>
                    <div>×1</div>
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>1</span>件商品，订单金额：<span>￥6799.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pie">
            <a class="order_btn" href="../jdshop_order/shop_order_details.html">查看物流</a>
        </div>
    </div>

    <!-- 物流信息 多个商品 无操作按钮-->
    <div class="shop_order_contain jdshop_shadow">
        <!-- 订单状态 -->
        <div class="order_status jdshop_alignment_center">
            <p>订单状态</p>
            <p class="font_red">派件中</p>
        </div>
        <!-- 商品信息 -->
        <div class="goods_list more_goods">
            <div class="more_goods_box">
                <div class="main_images">
                    <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>

                <div class="main_images">
                    <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
            </div>
        </div>
        <!-- 合计 -->
        <div class="total">
            共<span>10</span>件商品，订单金额：<span>￥6799.00</span>
        </div>
        <!-- 操作按钮 -->
        <div class="order_btn_list go_pie">
            <a class="order_btn" href="../jdshop_order/shop_order_details.html">查看物流</a>
        </div>
    </div>

</div>

<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

    /*切换tab*/
    jfOrderTab.switchTab();

</script>