<!--订单-->
<div class="application_list_content">

    <!-- 售后申请 -->

    <div class="after_sales_list show">

        <div>

            <!-- list 未过期-->
            <div class="customer_service jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_title jdshop_alignment_center">
                    <p>订单编号:1701020000001123</p>
                    <p>下单时间:2017-06-05 18:00:30</p>
                </div>

                <div class="order_content">

                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>

                    <!--按钮-->
                    <div class="customer_service_button">
                        <a class="sales_order_red" href="../return_service/after_sales_application.html">申请售后</a>

                    </div>

                </div>



            </div>

            <!-- list 过期 多订单-->
            <div class="customer_service jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_title jdshop_alignment_center">
                    <p>订单编号:1701020000001123</p>
                    <p>下单时间:2017-06-05 18:00:30</p>
                </div>


                <div class="order_content">
                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>
                    <!--按钮 已过期-->

                    <div class="jdshop_alignment_center">
                        <div class="customer_service_tip">该商品已超过售后期</div>
                        <div class="customer_service_button">
                            <a class="sales_order_gary">申请售后</a>

                        </div>
                    </div>


                </div>


                <div class="order_content">
                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>
                    <!--按钮-->
                    <div class="jdshop_alignment_center">
                        <div class="customer_service_tip">该商品已超过售后期</div>
                        <div class="customer_service_button">
                            <a class="sales_order_gary">申请售后</a>

                        </div>
                    </div>

                </div>


                <div class="order_content">
                    <!-- 商品信息 -->
                    <div class="application_record_goods jdshop_alignment_top">
                        <div class="goods_images">
                            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                        </div>
                        <div class="sales_main_details">
                            <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
                            <div class="sales_total">数量：10</div>

                        </div>

                    </div>
                    <!--按钮-->
                    <div class="jdshop_alignment_center">
                        <div class="customer_service_tip">该商品已超过售后期</div>
                        <div class="customer_service_button">
                            <a class="sales_order_gary">申请售后</a>

                        </div>
                    </div>

                </div>



            </div>


        </div>



    </div>


    <!--申请记录-->

    <div class="after_sales_list">

        <div>
            <!-- list 退货-->
            <div class="after_sales_application jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_number jdshop_alignment_center">
                    <p>服务单号:324607825</p>
                    <p class="record_title_red">退货</p>
                </div>

                <!-- 商品信息 -->
                <div class="application_record_goods jdshop_alignment_top">
                    <div class="goods_images">
                        <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                    </div>
                    <div class="sales_main_details">
                        <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>

                    </div>

                </div>


                <!--售后失效按钮-->


                <a class="application_record_all jdshop_alignment_center" href="../return_service/service_details.html">

                    <!-- 文案 -->
                    <div class="record_content jdshop_alignment_center">
                        <div class="record_goods_period"><img src="../../images/jdshop_duigou.png">京东收货</div>
                        <div class="record_go">您的服务单京东已收货，等待京东操作退款</div>
                    </div>
                    <!-- 箭头 -->

                    <div class="arrow"><img src="../../images/product_go.png"></div>

                </a>

                <!--按钮-->
                <div class="application_sales_button after_sales_gary">
                    <a class="sales_order_gary" href="../return_service/cancel_service.html">取消售后</a>
                    <a class="sales_order_red" href="../return_service/shopping_information.html">填送货单</a>
                </div>

            </div>

            <!-- list 维修-->
            <div class="after_sales_application jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_number jdshop_alignment_center">
                    <p>服务单号:324607825</p>
                    <p class="record_title_red">维修</p>
                </div>

                <!-- 商品信息 -->
                <div class="application_record_goods jdshop_alignment_top">
                    <div class="goods_images">
                        <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                    </div>
                    <div class="sales_main_details">
                        <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>

                    </div>

                </div>


                <!--售后失效按钮-->


                <a class="application_record_all jdshop_alignment_center" href="../return_service/service_details.html">

                    <!-- 文案 -->
                    <div class="record_content jdshop_alignment_center">
                        <div class="record_goods_period"><img src="../../images/jdshop_duigou.png">京东收货</div>
                        <div class="record_go">您的服务单京东已收货，等待京东操作退款</div>
                    </div>
                    <!-- 箭头 -->

                    <div class="arrow"><img src="../../images/product_go.png"></div>

                </a>

                <!--按钮-->

            </div>

            <!-- list 维修-->
            <div class="after_sales_application jdshop_shadow">
                <!-- 订单编号 -->
                <div class="order_number jdshop_alignment_center">
                    <p>服务单号:324607825</p>
                    <p class="record_title_red">退货</p>
                </div>

                <!-- 商品信息 -->
                <div class="application_record_goods jdshop_alignment_top">
                    <div class="goods_images">
                        <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                    </div>
                    <div class="sales_main_details">
                        <div class="sales_title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>

                    </div>

                </div>


                <!--售后失效按钮-->


                <a class="application_record_all jdshop_alignment_center" href="../return_service/service_details.html">

                    <!-- 文案 -->
                    <div class="record_content jdshop_alignment_center">
                        <div class="record_goods_period"><img src="../../images/jdshop_duigou.png">京东收货</div>
                        <div class="record_go">您的服务单京东已收货，等待京东操作退款</div>
                    </div>
                    <!-- 箭头 -->

                    <div class="arrow"><img src="../../images/product_go.png"></div>

                </a>

                <!--按钮-->
                <div class="application_sales_button after_sales_gary">
                    <a class="sales_order_gary" href="../return_service/cancel_service.html">取消售后</a>
                    <a class="sales_order_red" href="../return_service/shopping_information.html">填送货单</a>
                </div>

            </div>
        </div>

    </div>



</div>


