<div class="follow_bottom_tab">
    <div class="tab_bar"></div>
    <div class="tab_content">
        <!--<label>-->
            <!--<input class="aui-radio checkallbox" type="checkbox" name="radio">-->
            <!--<span>全选</span>-->

        <!--</label>-->

        <div class="follow_btn">取消关注</div>

    </div>
</div>
