<!-- list copy-->
<div class="watch_list">
    <label class="followcheck">
        <div class="follow_box">
            <input class="aui-radio singlecheck"  type="checkbox" name="radio"/>
        </div>
        <div class="follow_goods_list">
            <div class="main_images">
                <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G CIE固态硬盘940MX独显</div>
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price font_red"><span>￥</span>6399.00</div>
                </div>

                <div class="product_add_cart jdshop_alignment_center">
                    <a class="gift_number">找相似</a>
                    <div class="icon_add_cart"><img src="../../icon/add_to_cart.png"></div>
                </div>

            </div>
        </div>
    </label>
</div>

<!-- list copy-->
<div class="watch_list">
    <label class="followcheck">
        <div class="follow_box">
            <input class="aui-radio singlecheck"  type="checkbox" name="radio"/>
        </div>
        <div class="follow_goods_list">
            <div class="main_images">
                <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G CIE固态硬盘940MX独显</div>
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price font_red"><span>￥</span>6399.00</div>
                </div>

                <div class="product_add_cart jdshop_alignment_center">
                    <a class="gift_number" href="../../jdshop_mine/mine.html">找相似</a>
                    <div class="icon_add_cart"><img src="../../icon/add_to_cart.png"></div>
                </div>

            </div>
        </div>
    </label>
</div>


<!-- list copy-->
<div class="watch_list">
    <label class="followcheck">
        <div class="follow_box">
            <input class="aui-radio singlecheck"  type="checkbox" name="radio"/>
        </div>
        <div class="follow_goods_list">
            <div class="main_images">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G CIE固态硬盘940MX独显</div>
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price font_red"><span>￥</span>6399.00</div>
                </div>

                <div class="product_add_cart jdshop_alignment_center">
                    <a class="gift_number" href="../../jdshop_mine/mine.html">找相似</a>
                    <div class="icon_add_cart"><img src="../../icon/add_to_cart.png"></div>
                </div>

            </div>
        </div>
    </label>
</div>


<!-- list copy-->
<div class="watch_list">
    <label class="followcheck">
        <div class="follow_box">
            <input class="aui-radio singlecheck"  type="checkbox" name="radio"/>
        </div>
        <div class="follow_goods_list">
            <div class="main_images">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G CIE固态硬盘940MX独显</div>
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price font_red"><span>￥</span>6399.00</div>
                </div>

                <div class="product_add_cart jdshop_alignment_center">
                    <a class="gift_number" href="../../jdshop_mine/mine.html">找相似</a>
                    <div class="icon_add_cart"><img src="../../icon/add_to_cart.png"></div>
                </div>

            </div>
        </div>
    </label>
</div>


<!-- list copy-->
<div class="watch_list">
    <label class="followcheck">
        <div class="follow_box">
            <input class="aui-radio singlecheck"  type="checkbox" name="radio"/>
        </div>
        <div class="follow_goods_list out_of_stock">
            <div class="main_images">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
            </div>
            <div class="main_details">
                <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G CIE固态硬盘940MX独显</div>
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div class="price font_red"><span>￥</span>6399.00</div>
                </div>

                <div class="product_add_cart jdshop_alignment_center">
                    <a class="gift_number" href="../../jdshop_mine/mine.html">找相似</a>
                    <div class="icon_add_cart"><img src="../../icon/add_to_cart.png"></div>
                </div>

            </div>
        </div>
    </label>
</div>



<!-- 加载动销-->
<!--    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>-->

    <!-- 加载完成-->
    <div class="loading_end">-数据加载完成 -</div>


<!-- 购物车-->
<a class="to_cart_box" href="../jdshop_shoppingcart/shoppingcart.html">

    <p class="mine_cart_number">6</p>
    <img src="../../icon/icon_main_car_grey1.png">

</a>


<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance": "50"//距离底部的距离，触发事件，单位省略
    })





</script>