<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">
        <a class="left" onclick="window.history.go(-1)">
            <p><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content">

            <div class="nav_tab">商品</div>
        </div>
        <a class="right" style="width: auto" id="followGoods">编辑</a>
    </div>
</nav>

<script>

    //编辑关注列表
    document.getElementById('followGoods').addEventListener('click',followList.showCheckBox,false);





</script>