<div class="product_category_slide">
    <div class="select_sort">推荐分类</div>
    <div>电脑办公</div>
    <div>家用电器</div>
    <div>女装</div>
    <div>男鞋</div>
    <div>女鞋</div>
    <div>内衣配饰</div>
    <div>箱包手袋</div>
    <div>美妆个护</div>
    <div>钟表珠宝</div>
    <div>手机数码</div>
    <div>食品生鲜</div>
    <div>内衣配饰</div>
    <div>箱包手袋</div>
    <div>美妆个护</div>
    <div>钟表珠宝</div>
    <div>手机数码</div>
</div>

<script>

//滚动条事件
jdCategoryPage.clickTSortChange();

</script>