<!-- list -->
<div class="customer_service_list">

    <div class="question_title">
        <span>Q</span>
        <span><%=question%></span>
    </div>
    <div class="answer">
        <span>A</span>
        <span><%=answer%></span>
    </div>
</div>



