<div class="payment_detail">
    <div class="operation_prompt">
        <p>您的账户有问题，未能完成支付</p>
        <p class="font_in_gary">请解决问题后再次尝试支付订单</p>
    </div>
    <div class="explain font_middle_gary">
        您的订单已保存，请在24小时内完成支付，超时将被自动取消。
    </div>
</div>