<div class="payment_operation">
    <p class="jdshop_btn_area jdshop_alignment_center">
        <a class="jdshop_btn_primary btn_red_border" href="javascript:;">去支付</a>
        <a class="jdshop_btn_primary btn_gray_border" href="../jdshop_order/shop_order_details.html">查看订单详情</a>

    </p>
</div>