<!--售后提交成功-->


<div class="service_success_animation">

    <div class="success_animation">


        <div class="success_animation_circle"></div>

        <div class="success_animation_cloud "></div>

        <div class="success_animation_line2"></div>

        <div class="success_animation_line3"></div>

        <!--<div class="success_animation_right"></div>-->

        <div class="m-box">

            <div class="m-duigou"></div>
        </div>
    </div>

    <div class="success_animation_text">提交成功</div>
    <div class="success_animation_message">你的售后申请已提交，待京东售后审核通过后进入下一步售后进展，填写送货单，撤销售后申请查看售后进展，填写送货单，
        撤销售后申请请进入【商城订单】的【退货/售后】的【申请售后】</div>
</div>



<div class="service_success_all">
<div class="service_success_white" >
    <a  href="../return_service/service_details.html"><span>查看售后申请单详情</span></a>
</div>

<div class="service_success_next" >
    <a  href="../jdshop_order/shop_order.html"><span>回到我的订单列表</span></a>
</div>
    </div>