<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">
        <a class="left" onclick="window.history.go(-1)">
            <p><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content">

            <div class="nav_tab">常见问题</div>
        </div>
        <a class="right">&nbsp;</a>
    </div>
</nav>

<div class="jdshop_mine_problems">

    <div class="jdshop_problem">
        <div class="title">
            <span class=q>Q</span>
            商品货源是否正品？
        </div>
        <div class="content">
            <span class=a>A</span>
            福利商城的【京东购物】上所销售的任何商品都是来自京东商城的自营商品，在京东购物支付后订单立刻由京东商城统一生产和配送。
        </div>
    </div>

    <div class="jdshop_problem">
        <div class="title">
            <span class=q>Q</span>
            能购买的商品种类多吗？
        </div>
        <div class="content">
            <span class=a>A</span>
            首次对接京东40多万个商品（SKU），涵盖了京东的主营业务电脑、办公、手机、数码、厨具、家用电器、酒类、美妆个护、母婴、汽车用品、生鲜、食品饮料、玩具乐器、药妆护理等13个一级品类。后期将继续对接家居、家具、箱包、运动户外等品类。
        </div>
    </div>

    <div class="jdshop_problem">
        <div class="title">
            <span class=q>Q</span>
            如何购买？
        </div>
        <div class="content">
            <span class=a>A</span>
            用户登录福利商城的首页进入【京东购物】即可选品购买，可以按分类找，用搜索找商品等多种方式，将商品加入购物车后一起结算更方便。您的亲戚朋友需要了可以请您代理购买，将订单详情页中的京东订单号界面截图给他，即可独立后续进行售后处理。后期本平台还将开放给个人用户上来购买。
        </div>
    </div>
</div>