<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            编辑收货地址
        </div>
        <a class="right">
        </a>
    </div>
</nav>

<div class="add_address_content">


    <%- include('add_address_content/add_address_list.ejs') %>

</div>

<div class="address_dialog">
    <%- include('../product/product_prompt/product_prompt_1_address.ejs')%>
</div>
<!-- 底部按钮-->

<div class="bottom_button">
    <div class="tab_box"></div>
    <a class="button_contain" href="javascript:">
        保存
    </a>

</div>
