<div class="jf_dialog" id="order_discount">

    <div class="dialog_bg"></div>

    <div class="dialog_box">

        <div class="text_dialog_container">
            <div class="text_big">
                <p>选择优惠券</p>
                <p>(可选用多张)</p>
            </div>

            <div class="text_small" id="discountBox">

                <!-- 优惠券 -->
                <div class="discount_list select_use" data-name="-20.00">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>20</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list" data-name="-30.00">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>30</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list" data-name="-100.00">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>100</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 优惠券 -->
                <div class="discount_list" data-name="-20.00">

                    <div class="discount_card jdshop_alignment_left">

                        <div class="discount_amount">
                            <span>20</span>
                            <p>立减券</p>
                        </div>
                        <div class="discount_explain">
                            <p>购物抵现券</p>
                            <p>限于平台【京东】商城所有品类购物抵现</p>
                        </div>

                    </div>

                    <div class="time">使用期限：2017.09.28 - 2017.10.29</div>
                </div>
                <!-- 不使用优惠券 -->
                <div class="discount_list" id="noDiscount" data-name="不使用优惠券"><p class="no_discount">不使用优惠券</p></div>

            </div>


            <div class="dialog_button"><a class="dialog_check red" onclick="discountShow.hide()">确定</a></div>

        </div>
    </div>


</div>

<script>

    //优惠券选择 0926
    jfOrderTips.orderDiscountChoose();

</script>
