<div class="status_pie">

    <div class="status_pie_title">物流状态 ：<span class="status_pie_send">  派件中</span></div>

    <div class="status_pie_tickets">子订单号 ： 12300012300045</div>

    <div class="status_pie_line">

        </div>

    <div class="status_pie_images jdshop_alignment_center">
        <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
        <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
    </div>
</div>
<%- include('./status_3_split.ejs')%>

<script>
    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })
</script>