<div class="status_goods_major">
    <div>
        <div class="goods jdshop_alignment_middle ">
            <img src="../../images/status_spot.png">  提示：订单已被拆分</div>


        <div class="status_goods">


            <div class="status_goods_title">物流状态 ：<span class="status_goods_send">  已签收</span></div>
            <div class="status_goods_tickets">子订单号 ： 12300012300045</div>

            <div class="status_goods_line jdshop_alignment_center">
                <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">

                <div class="status_goods_details">
                  <div class="status_goods_message">
                      <div class="status_goods_name">Apple MacBook Air 笔记本(Core i5 处理器处/8GB内存128GBSD闪存笔记本Corei5处理器2CH/A)/8GB内存128G闪存MMGF2CH/A)</div>
                <div class="status_goods_color">颜色：银色； 容量：256G</div>
               <div class="status_goods_price jdshop_alignment_center"><span>￥6788.00</span><span class="status_goods_number">x1</span></div>
                </div>

            </div>
        </div>
    </div>
</div>
    </div>
<script>
    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

</script>