<div class="details_contain_acc" onclick="showProductAcc.show()">
    <div class="details_acc_goods jdshop_alignment_left">
        <div class="goods_pic"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
        <div class="goods_box">
            <div class="goods_title"><%=productName%></div>
            <div class="goods_num jdshop_alignment_center">
                <p>×<span><%=number%></span></p>
                <p>京东参考价：￥<span><%=price%></span></p>
            </div>
        </div>
    </div>
</div>