<!--附件赠品-->
<div class="product_details_enclosure">
    <!-- 附件 -->
    <div class="product_details_acc">
        <!-- 附件 title -->
        <div class="details_acc_title jdshop_alignment_center">
            <span class="acc_title">附件</span>
            <div class="acc_tips">注：因促销活动随时变化，以下单时为准。</div>
        </div>
        <!-- list 1-->
        <%- include('product_details_8_list_template.ejs',{
        'productName':'Kindle Paperwhite 全新升级版6英',
        'number':'1',
        'price':'8888.00'
        })%>
        <!-- list 2-->
        <%- include('product_details_8_list_template.ejs',{
        'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
        'number':'1',
        'price':'8888.00'
        })%>
    </div>
    <!-- 赠品-->
    <div class="product_details_acc">
        <!-- 赠品 title-->
        <div class="details_acc_title  jdshop_alignment_center">
            <span class="gift_title">赠品</span>
            <div class="gift_tips">注：因促销活动随时变化，以下单时为准。</div>
        </div>
        <!-- list 1-->
        <%- include('product_details_8_list_template.ejs',{
        'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
        'number':'1',
        'price':'8888.00'
        })%>
        <!-- list 2-->
        <%- include('product_details_8_list_template.ejs',{
        'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
        'number':'1',
        'price':'8888.00'
        })%>
    </div>
</div>