<!--地址选择模块-->
<div class="product_details_address jdshop_alignment_center" onclick="productAddress.show({fn:

function(){

     addressChoose.run({
     yourUrl:'http://jd-test.jia-fu.cn',
     type: 'get',
     targetDom:document.getElementById('product_address_show'),
     fn:function() {
       productAddress.hide();
     }

     })
}

})">
    <!-- 已选地址-->
    <div class="choose_address">
        <div class="details_address">
            <div><span>送至</span><img
                        src="../../images/product_details_1_location.png"><span id="product_address_show">北京市 朝阳区 四环以内</span></div>
        </div>
    </div>
    <!-- 有无货 -->
    <div class="details_stock"><span class="in_stock">有货</span><img src="../../images//product_go.png"></div>
    </div>
<script>

    productAddress = new jfShowPop({

        'ele': 'product_address'

    })

</script>