<!--主要信息-->
<div class="product_details_main">
    <!-- 商品名称及好评-->
<div class="product_title jdshop_alignment_center">
    <div class="product_name">Apple MacBook Air 笔记本(Core i5处理器/8GB内存128GB SSD闪存 处理器)Apple MacBook Air 笔记本(Core i5处理器/8GB内存128GB SSD闪存 处理器)
    </div>
    <div class="product_praise">
        <p><span>97%</span>好评</p>
        <p>数据来自京东</p>
    </div>
</div>
    <!-- 商品价格及附件赠品-->
    <div class="product_imf jdshop_alignment_center">
        <div class="product_price">￥<span>6700.00</span></div>
        <span class="view_jd" id="view_jd" data-src="https://item.m.jd.com/product/10211831816.html" onclick="showProductIframe.show()">看京东价</span>
        <div class="product_additional_goods">
            <span class="red_acc">附件</span>
            <span class="org_gift">赠品</span>
        </div>
    </div>
</div>


