<!-- 配送时间-->
<div class="product_details_time jdshop_alignment_top">
    <div><img src="../../images/product_details_8_time.png"></div>
    <div class="time">18:00前下单，预计明天(<span>07月25日</span>)送达</div>
</div>