<!--sku选择-->
<div class="product_details_sku jdshop_alignment_top" onclick="showProductSku.show()">
    <!-- 已选sku -->
    <div class="choose_sku">
        <div class="details_sku jdshop_alignment_left">
            <div>已选</div>
            <div>标配版，13.3英寸I5/8GB/128G/GF2银色，1件，增值服务</div>
        </div>
    </div>
    <!-- 小点点 -->
    <div class="choose_point">
        <img src="../../images/product_details_9_edit.png">
    <!--    <i>•</i>
        <i>•</i>
        <i>•</i>-->
    </div>
</div>