<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>服务单详情</title>
</head>

<body>



<%- include('../../component/return_service/service_details/service_details_main.ejs') %>


</body>

</html>