<!-- 商品列表 -->
<div class="shopping_cart_3_list" id="list_contain">
    <!-- list copy -->
    <div class="list_contain">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images">
                    <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_details">
                    <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>899.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="1">
                            <span class="add">＋</span>
                        </div>

                    </div>

                </div>


            </a>

        </div>
    </div>
    <!-- list copy out of stock-->
    <div class="list_contain out_of_stock">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images">
                    <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
                </div>
                <div class="main_details">
                    <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</div>
                    <div class="sku font_middle_gary"><span>重量:2.45kg</span><span>颜色:【13.3英寸】I5-6200U 8G 256G</span>
                    </div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>5399.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="0">
                            <span class="add">＋</span>
                        </div>

                    </div>
                </div>


            </a>

        </div>
    </div>
    <!-- list copy -->
    <div class="list_contain ">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images"><img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div class="main_details">
                    <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>1399.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="1">
                            <span class="add">＋</span>
                        </div>
                    </div>

                </div>


            </a>

        </div>
    </div>
    <!-- list copy -->
    <div class="list_contain ">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images"><img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div class="main_details">
                    <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>2456.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="1">
                            <span class="add">＋</span>
                        </div>


                    </div>

                </div>


            </a>

        </div>
    </div>
    <!-- list copy -->
    <div class="list_contain ">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images"><img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div class="main_details">
                    <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>2456.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="1"/>
                            <span class="add">＋</span>
                        </div>


                    </div>

                </div>


            </a>

        </div>
    </div>
    <!-- list copy -->
    <div class="list_contain ">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <a class="goods_list jdshop_alignment_top">
                <div class="main_images"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div class="main_details">
                    <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>2456.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="1"/>
                            <span class="add">＋</span>
                        </div>


                    </div>

                </div>


            </a>

        </div>
    </div>
    <!-- list copy out of stock-->
    <div class="list_contain  out_of_stock">

        <div class="jdshop_alignment_center">

            <label>
                <input class="radio" type="checkbox" name="radio">
            </label>

            <div class="goods_list jdshop_alignment_top">
                <div class="main_images"><img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img"></div>
                <div class="main_details">
                    <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
                    <div class="sku font_middle_gary"><span>重量:5.26kg</span><span>颜色:魔钻 千帕吸力 高颜值</span></div>

                    <div class="sku_volume_purchased jdshop_alignment_center">
                        <div class="price font_red"><span>￥</span>1399.00</div>
                        <div class="volume_btn">
                            <span class="reduce">－</span>
                            <input type="number" pattern="[0-9]*" class="volume_input" value="0">
                            <span class="add">＋</span>
                        </div>
                    </div>

                </div>


            </div>

        </div>
    </div>

</div>


<script>


    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

    //购物车加减
    jfProductDetails.volumeChange();

</script>
