<div class="search_results_recommend">

    <a class="product">
        <img src="../../images/product_list_1.jpg">
        <span class="name">炸鸡</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_2.jpg">
        <span class="name">手机</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_3.jpg">
        <span class="name">阅读器</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_4.jpg">
        <span class="name">美容仪</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_5.jpg">
        <span class="name">扫地机器人</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_1.jpg">
        <span class="name">电脑进水啦啦啦啦啦</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_1.jpg">
        <span class="name">小米</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_2.jpg">
        <span class="name">手机</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_3.jpg">
        <span class="name">阅读器</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_4.jpg">
        <span class="name">美容仪</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_5.jpg">
        <span class="name">扫地机器人</span>
    </a>
    <a class="product">
        <img src="../../images/product_list_1.jpg">
        <span class="name">电脑</span>
    </a>
</div>