<div class="search_results_list">
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">雅萌(YA-MAN) 美容器 LED导入导出射频美容仪清洁毛孔洁面仪 yaman HRF-11</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>95%</div>
            </div>
        </div>
    </div>
    <!-- list copy out_of_stock为无库存样式-->
    <div class="goods_list out_of_stock jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>100%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list out_of_stock jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>97%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <div class="goods_list out_of_stock jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_3.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>100%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">小米(MI)Air 13.3英寸全金属超轻薄笔记本电脑(i5-6200U 8G 256G PCIE固态硬盘 940MX独显 FHD WIN10)银</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list out_of_stock jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_5.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">科沃斯（Ecovacs）地宝魔钻(BFD-wwt) 扫地机器人家用吸尘器全自动智能拖地机</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>97%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_4.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_2.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
    <!-- list copy-->
    <div class="goods_list jdshop_alignment_top">
        <div class="main_images">
            <img data-src="../../images/product_list_1.jpg" src="../../images/img_loading.gif" class="loading_img">
        </div>
        <div class="main_details">
            <div class="title">【6期免息】【赠备用数据线】Apple iPhone 7 4.7英寸苹果7 苹果手机 全网 红色特别版 全网通 (128G)</div>
            <div class="sku_volume_purchased jdshop_alignment_center">
                <div class="price font_red"><span>￥</span>6399.00</div>
                <div class="font_middle_gary"><span>好评：</span>99.99%</div>
            </div>
        </div>
    </div>
</div>

<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })

</script>