<div class="search_change">
    <div class="title">换个词搜索</div>
    <div class="change_content">
        <div>华为</div>
        <div>小米</div>
        <div>魅族</div>
        <div>华为手机</div>
        <div>vivo</div>
        <div>oppo</div>
        <div>小米6</div>
        <div>苹果7</div>
        <div>手机京东自营</div>
        <div>三星</div>
        <div>诺基亚</div>
        <div>窝窝头</div>
    </div>
</div>