<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>嘉福京东购物平台</title>
</head>

<body style="background: #fff">

<%- include('../../component/panic_buying/main_panic_buying.ejs') %>

</body>

</html>