<!-- 商品退换拍照-->
<div class="refund_photo jdshop_shadow">
    <div class="type_title jdshop_alignment_center">
        <p>问题图片/拍图</p>
        <p class="font_middle_gary"><span id="image_length">0</span>/10</p>
    </div>
    <div class="photo_content jdshop_alignment_left">
        <!-- 选择框-->
        <!--<div class="choose_file">
            &lt;!&ndash; 缩略图 &ndash;&gt;
            <img src="../../images/banner_1.jpg" class="thumbnail_img">
            &lt;!&ndash; 背景图&ndash;&gt;

            &lt;!&ndash; 上传照片&ndash;&gt;

            &lt;!&ndash; 删除按钮&ndash;&gt;
            <div class="delete_img"></div>
        </div>-->

        <!-- 选择框-->
        <div class="choose_file">
            <img src="../../images/customer_service_1_photo.png">
            <input type="file"  multiple="multiple"  accept="image/*" readonly>
        </div>


    </div>
</div>

<script>

    //上传图片
    jfReturnService.addPhoto();


</script>