<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">
            申请售后服务
        </div>
        <a class="right">

        </a>
    </div>
</nav>

<%- include('./after_sales_1_inf.ejs') %>

<%- include('./after_sales_2_description.ejs') %>

<%- include('./after_sales_3_photo.ejs') %>

<%- include('./after_sales_4_address.ejs') %>

<div class="refund_btn_area">
    <a class="btn_contain" href="javascript:;">提交</a>
</div>