<div class="payment_operation">
    <p class="jdshop_btn_area jdshop_alignment_center">
        <a class="jdshop_btn btn_gray_border" href="../jdshop_order/shop_order_details.html">查看订单详情</a>
        <!--<a class="jdshop_btn_primary btn_blue_border" href="javascript:;">嘉福平台首页</a>-->
    </p>
<p class="jdshop_btn_area">
    <a class="jdshop_btn btn_red_border" href="../jdshop_homepage/main.html"><span class="icon"><img src="../../images/icon_main_home_btn.png"></span>去嘉福商城首页</a>
</p>
</div>