<div class="payment_detail">
    <div class="operation_prompt">
        <p>订单已经支付成功</p>
        <p class="font_in_gary">我们已经通知京东商城准备配送</p>
    </div>
    <div class="explain font_middle_gary">
        您的订单如果商品多，可能拆分到不同订单进行配送，详情见<span>【订单详情】</span>中的<span>【看京东单号】</span>或物流信息。
    </div>
</div>