<div class="payment_prompt">
    <div class="prompt_contain font_middle_gary jdshop_alignment_top">
        <p class="figure"></p>
        <p>查看订单详情方法；登录<span>【嘉福平台】</span>APP或公众号，在首页点击<span>【嘉福京东商城】</span>进入嘉福商城，在底部右边的<span>【商城订单】</span>中可以看到所成交或待付款的订单。</p>
    </div>
    <div class="prompt_contain font_middle_gary jdshop_alignment_top">
        <p class="figure"></p>
        <p>返回<span>【嘉福平台】</span>方法：在嘉福商城首页，点击左上角的<span>【回嘉福平台】</span>按钮即可到达嘉福平台首页。</p>
    </div>

</div>