<!-- 退款信息-->
<div class="service_tip">
    <img src="../../images/status_spot.png"><p>本次售后由<span>京东</span>为您提供</p>
</div>

<!-- 服务单号-->
<div class="service_number jdshop_alignment_center jdshop_shadow">
    <div><span>服务单号：</span>324607825</div>
    <div><span>申请时间：</span>2017-09-20 11:07:36</div>
</div>