<!-- 退款详情-->
<div class="details_refund jdshop_shadow">

    <div class="details_refund_sum">
        <p>+1499.00</p>
        <p>已退款</p>
    </div>
    <div class="details_refund_inf jdshop_alignment_center">
        <p>退款路径</p>
        <p>原路退回</p>
    </div>
    <div class="details_refund_inf jdshop_alignment_center">
        <p>退款时间</p>
        <p>2017-09-21 11:07:36</p>

    </div>

    <div class="details_refund_tip">提示：如有问题，请咨询客服</div>

</div>