<!-- 查看图片-->

<div class="details_images jdshop_shadow">

    <div class="images_title jdshop_alignment_center">
        <div>问题图片</div>

        <div>10张</div>

    </div>

    <!-- 图片-->

    <div class="images_content jdshop_alignment_left">

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/customer_service_3_test.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/product_details_2_banner.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/customer_service_3_test.jpg">

        </div>
        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/customer_service_3_test.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/product_details_2_banner.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/customer_service_3_test.jpg">

        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/customer_service_3_test.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/product_details_2_banner.jpg">


        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/product_list_2.jpg">

        </div>

        <!-- 图片 -->
        <div class="images_details" data-src="../../images/product_details_2_banner.jpg">

            <img src="../../images/product_list_4.jpg">

        </div>

    </div>


</div>

<!-- 弹出框-->

<div class="service_pop_up" id="servicePopUp">

    <!-- 背景-->

    <div class="service_shadow" id="serviceShadow"></div>

    <div class="delete_pic">X</div>

    <!-- 内容 -->

    <div class="service_show_content">
        <div class="img_content"></div>
    </div>



</div>




<script>



    //点击查看大图
    jfReturnService.chooseImgShow()





</script>



