<!-- 审核留言-->
<div class="details_message jdshop_shadow">

    <div class="message_title">审核留言</div>

    <div class="message_content">亲爱的客户，很抱歉您的商品出现这样的问题。京东配送将在1-3天内为您上门取件，请准备好商品全套（商品、附件、发票原件、包装）交给配送人员。如收到商品后情况属实，我们会尽快为您办理。感谢您对京东的支持。（注：电子发票及换货发票无需退回）。提示：为避免数据遗失或泄露，请您提前做好数据备份，京东将不承担相应责任。</div>




</div>