<!-- 问题描述-->

<div class="details_description jdshop_shadow">

    <div class="description_title">问题描述</div>

    <div class="description_content">
        <p>没有HDMI接口(为什么没有HDMI接口还送HDMI线？)</p>
        <p class="description_time">2017-10-01 11:00:00</p>

    </div>

</div>