
    <div class="jf_pop_up" id="product_prompt_buy">

        <div class="jf_pop_up_main">

            <div class="pop_top">

                <div class="pop_title">请选择</div>

                <div class="pop_cancel"></div>

                <div class="pop_line"></div>

            </div>

            <div class="pop_main" id="main_sku">
                <div class="pop_content">
                    <!-- 主图显示-->
                    <div class="product_details_imf">
                        <div class="product_img">
                            <img src="../../images/product_list_1.jpg">
                        </div>
                        <div class="price">
                            <div>￥4999.00</div>
                            <div>商品编号：33445501</div>
                        </div>


                    </div>
                    <!--sku 颜色-->
                    <div class="sku_title">颜色</div>
                    <div class="sku_contain jdshop_alignment_left">
                        <div class="sku_box choose_tab">标配版</div>
                        <div class="sku_box">保护套装</div>
                        <div class="sku_box">终身保修</div>
                        <div class="sku_box">保护套装</div>
                        <div class="sku_box">标配版</div>
                        <div class="sku_box">保护套装</div>
                    </div>
                    <!--sku 颜色-->
                    <div class="sku_title">版本</div>
                    <div class="sku_contain jdshop_alignment_left">
                        <div class="sku_box choose_tab">11.6英寸</div>
                        <div class="sku_box">13.3英寸啦啦啦啦啦娜娜</div>
                        <div class="sku_box">14.3英寸</div>
                        <div class="sku_box">100.3英寸</div>
                        <div class="sku_box">13.3英寸</div>

                    </div>
                    <!--sku 选择配置-->
                    <div class="sku_title">选择配置</div>
                    <div class="sku_contain jdshop_alignment_left">
                        <div class="sku_box choose_tab">双核i5/4GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/16GB内存/128GB闪存</div>
                        <div class="sku_box">双核i5/16GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box">双核i5/8GB内存/256GB闪存</div>
                        <div class="sku_box out_of_stock">定制款：双核i7/8GB内存/128GB闪存</div>
                    </div>
                </div>
                <!--数量-->
                <div class="sku_volume_purchased jdshop_alignment_center">
                    <div>数量</div>
                    <%- include('product_prompt_4_buy_volume.ejs')%>
                </div>
                <!-- -->
                <div class="prompt_btn">
                    <a class="product_prompt_btn orange hidebtn">
                        <div>加入购物车</div>
                    </a>
                    <a class="product_prompt_btn red ">
                        <div>立即购买</div>
                    </a>

                </div>

            </div>
        </div>

        <div class="jf_pop_up_bg">

        </div>

    </div>

<script>

    //弹出框方法
    showProductSku = new jfShowPop({

        'ele':'product_prompt_buy',//弹框id

        'scrollClassname':'pop_content'//可选参数 该id下带有滚动条元素的classname
    })


    //sku 选择

    jfProductDetails.skuBoxChange();


    //购物车加减
    jfProductDetails.volumeChange(true);







</script>