
<!-- 弹框内容-->
<div class="iframe_main" id="iframDemo">

    <div class="iframe_top">

        <div class="iframe_title">看京东价</div>

        <div class="iframe_cancel"></div>

        <div class="iframe_line"></div>

    </div>

    <!-- iframe内容-->

    <div class="iframebox">

        <iframe  id="iframe" frameborder="0" marginheight="0" width="300" height="300" marginwidth="0"  scrolling="no"></iframe>

    </div>

    <!-- 按钮-->
    <!--<div class="prompt_seckill_btn">
        <a class="product_prompt_btn" id="jumpBtn" href="">
            <div>打开京东App，查看全部评价</div>
        </a>

    </div>-->

</div>

<script>

    showProductIframe = new jfIframe({

        'ele':'iframDemo'//弹框id

    })



</script>


