
    <div class="jf_pop_up" id="product_prompt_acc">

        <div class="jf_pop_up_main">

            <div class="pop_top">

                <div class="pop_title">基本信息(附件/赠品)</div>

                <div class="pop_cancel"></div>

                <div class="pop_line"></div>

            </div>

            <div class="pop_main">
                <div class="pop_content">
                    <!-- 列表 -->
                    <div class="details_acc_goods jdshop_alignment_left out_of_stock">
                        <div class="goods_pic"><img src="../../images/product_list_3.jpg"></div>
                        <div class="goods_box">
                            <div class="goods_title">Kindle Paperwhite 全新升级</div>
                            <div class="goods_num">
                                <p>京东参考价：￥8888.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="details_acc_img"><img src="../../images/product_details_7_acc_description.jpg"></div>
                </div>
            </div>
        </div>

        <div class="jf_pop_up_bg"></div>
    </div>

<script>

    showProductAcc=new jfShowPop({

        'ele':'product_prompt_acc',

        'scrollClassname':'pop_content'
    })




</script>