
    <div class="jdshop_mine_order mine_shadow">
        <div class="jdshop_mine_box">
            <a href="#">
                <p class="mine_icon"><img src="../../icon/payment.png"></p>
                <p class="mine_text">待付款</p>
                <!--如有待办项 加class即可-->
                <span class="mine_boom">6</span>
            </a></div>
        <div class="jdshop_mine_box">
            <a href="#">
                <p class="mine_icon"><img src="../../icon/goods.png"></p>
                <p class="mine_text">待收货</p>
                <span class="mine_boom">3</span>
            </a></div>
        <div class="jdshop_mine_box">
            <a href="#">
                <p class="mine_icon"><img src="../../icon/return_after.png"></p>
                <p class="mine_text">退换/售后</p>
                <span></span>
            </a></div>
        <div class="jdshop_mine_box">
            <a href="../jdshop_order/shop_order.html">
                <p class="mine_icon"><img src="../../icon/all_orders.png"></p>
                <p class="mine_text">全部订单</p>
                <span></span>
            </a></div>

    </div>

