<div class="jdshop_mine_information">

            <div class="name_cricle">
                <span><img src="../../images/head_portrait.png"></span>
            </div>
            <div class="name_imf">
                <p>jftest@tao-lue.com</p>
            </div>

</div>