<div class="jdshop_mine_list mine_shadow">

    <a class="jdshop_list " href="#">

        <div class="jdshop_list_content">

            <div class="jdshop_list_left">
                <img src="../../icon/coupons.png">
                <p>我的优惠券</p>
            </div>

            <div class="jdshop_list_right">
                <p>2</p>
             <img src="../../images/the_arrow.png">
            </div>

        </div>

    </a>

    <a class="jdshop_list" href="../jdshop_watch_list/watch_list.html">
        <div class="jdshop_list_content">
            <div class="jdshop_list_left">
                <img src="../../icon/collection.png">
                <p>关注的商品</p>
            </div>
        </div>

    </a>

    <a class="jdshop_list" href="">
        <div class="jdshop_list_content">

            <div class="jdshop_list_left">
                <img src="../../icon/address.png">
                <p>我的收货地址</p>
            </div>

            <div class="jdshop_list_right"><img src="../../images/the_arrow.png"></div>
        </div>
    </a>

</div>

<div class="jdshop_mine_list mine_shadow jdshop_list_problem">
    <a class="jdshop_list " href="common_problem.html">
        <div class="jdshop_list_content">

            <div class="jdshop_list_left">
                <img src="../../icon/common_problems.png">
                <p>常见问题</p>
            </div>
        </div>

    </a>
</div>