<div class="success_animation">

    <div class="success_animation_circle"></div>

    <div class="success_animation_cloud "></div>

    <div class="success_animation_line2"></div>

    <div class="success_animation_line3"></div>

    <div class="success_animation_right"></div>
    <div class="m-box">

       <div class="m-duigou">

        </div>
    </div>

    <div class="success_animation_text"><%=text%></div>


    </div>