<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/basic/metaNormal.ejs') %>
    <title>商品</title>
</head>

<body>

<nav class="top_product_bar">
    <div class="tab_box"></div>
    <div class="product_nav_contain">
        <a class="left" onclick="window.history.go(-1)">
            <p><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content">

            <div class="nav_tab">商品</div>
        </div>
        <a class="right">&nbsp;</a>
    </div>
</nav>

<%- include('../../component/watch_list/focus_list_empty.ejs') %>


</body>

</html>