<div class="product_images_service">
    <div class="service_title"><img src="../../images/product_details_6_service.png">相关售后</div>
    <div class="service_clause">
        <div class="jdshop_alignment_top">
            <p>【关于】</p>
            <p>嘉福京东商城是与京东平台对接的<span>嘉福子站</span>。</p>
        </div>
        <div class="jdshop_alignment_top">
            <p>【货源】</p>
            <p>商品及货源都是<span>京东自营商品</span>，并由京东发货，售后无忧。</p>
        </div>
        <div class="jdshop_alignment_top">
            <p>【配送】</p>
            <p>以京东运费标准为准，下单后<span>京东统一配送</span>。是否有偏远、超重附加费，见结算页的运费显示。</p>
        </div>
        <div class="jdshop_alignment_top">
            <p>【发票】</p>
            <p> 未能提供发票，但不影响保修售后，详见个人中心的<span>“常见问题”</span>中<span>“京东售后”</span>。</p>
        </div>
        <div class="jdshop_alignment_top">
            <p>【售后】</p>
            <p>拨打<span>京东售后电话</span><a href="tel:400-606-6866" >400-606-6866</a>，告知嘉福订单详情页中的<span>“京东订单号”</span>，即可进行<span>保修、换货等</span>售后服务，与在京东商城购物售后一样</p>
        </div>
        <div class="jdshop_alignment_top">
            <p>【嘉福客服】</p>
            <p><a href="tel:400-821-6990">400-821-6990</a>（工作日9:00-17:30）</p>
        </div>
        <p class="end_of_shopping"><span>◎</span> 嘉福真诚期待您的到来，祝您购物愉快 <span>◎</span></p>
    </div>
</div>