<!--图文详情-->
<div class="product_images_description">


<img src="../../images/product_details_3_description.jpg" data-src="../../images/product_details_3_description.jpg" class="loading_img">

</div>

<script>
    /*
        var allImgEle = document.getElementById('product_image_in').getElementsByTagName('img');

        for (var i = 0; i < allImgEle.length; i++) {

            allImgEle[i].addEventListener('load', loadImg, false);

        }

        var thisAll = 0;

        function loadImg() {

            thisAll++;

            if (thisAll == allImgEle.length) {

                changeImageSize();

            }
             if(allImgEle.length == 0){

                setTimeout(function () {

                    changeImageSize();

                },50)

            }

        }

        function changeImageSize() {

         /!*内部*!/

            var innerDom = document.getElementById('product_image_in');

            var num = document.body.clientWidth / innerDom.scrollWidth;

            changeTransform(innerDom, num);


            function changeTransform(thisEle, sc) {

                thisEle.style.transform = 'scale(' + sc + ')';

                thisEle.style.webkitTransform = 'scale(' + sc + ')';

                thisEle.style.transformOrigi = '0 0 0';

                thisEle.style.webkitTransformOrigin = '0 0 0';

            }
        }*/
</script>