<div class="product_images_parameter">
    <div class="parameter_title"><img src="../../images/product_details_5_spec.png">规格参数</div>
    <div class="parameter_table">
        <table border='1' cellspacing='0' cellpadding='0' bordercolor='#ddd'>
            <tr>
                <td>商品编号</td>
                <td>11544981492</td>
            </tr>
            <tr class="title">
                <td colspan="2">主体积</td>
            </tr>
            <tr>
                <td>系列</td>
                <td>MacBook Air</td>
            </tr>
            <tr>
                <td>颜色</td>
                <td>银色</td>
            </tr>
            <tr class="title">
                <td colspan="2">显示器</td>
            </tr>
            <tr>
                <td>显示比例</td>
                <td>其他比例</td>
            </tr>
            <tr>
                <td>物理分辨率</td>
                <td>其他</td>
            </tr>
            <tr class="title">
                <td colspan="2">硬盘</td>
            </tr>
            <tr>
                <td>硬盘容量</td>
                <td>其他</td>
            </tr>
            <tr class="title">
                <td colspan="2">内存</td>
            </tr>
            <tr>
                <td>内存容量</td>
                <td>其他</td>
            </tr>
            <tr class="title">
                <td colspan="2">通讯</td>
            </tr>
            <tr>
                <td>局域网</td>
                <td>其他</td>
            </tr>
            <tr>
                <td>无线局域网</td>
                <td>其他</td>
            </tr>
            <tr class="title">
                <td colspan="2">端口</td>
            </tr>
            <tr>
                <td>音频端口</td>
                <td>其他</td>
            </tr>
            <tr>
                <td>无线局域网</td>
                <td>其他</td>
            </tr>
            <tr class="title">
                <td colspan="2">音效系统</td>
            </tr>
            <tr>
                <td>扬声器</td>
                <td>内置扬声器</td>
            </tr>
            <tr class="title">
                <td colspan="2">输入设备</td>
            </tr>
            <tr>
                <td>键盘</td>
                <td>背光键盘</td>
            </tr>
            <tr>
                <td>触摸板</td>
                <td>有</td>
            </tr>
        </table>
    </div>
</div>