<div class="product_images_nav">
    <!-- 向下滑动 -->
    <div class="slide_down"><img src="../../images/product_details_4_down.png">向下进入详情页</div>
</div>
<!-- nav -->
<div class="images_nav">
    <div class="images_nav_tab jdshop_alignment_center" id="NavTab">
        <a class="tab choose_tab" onclick="jfProductDetails.scrollEle(document.getElementsByClassName('product_images_description')[0],87)">图文详情</a>
        <a class="tab" onclick="jfProductDetails.scrollEle(document.getElementsByClassName('product_images_parameter')[0],87)">规格参数</a>
        <a class="tab" onclick="jfProductDetails.scrollEle(document.getElementsByClassName('product_images_service')[0],86)">售后相关</a>
    </div>
    <div class="images_nav_tab_empty" id="NavTabEmpty"></div>
</div>

<script>

    //滚动滑动到一定位置tab固定

    window.addEventListener('scroll',jfProductDetails.slidePositionTab);

    //图文&规格&售后 切换

    jfProductDetails.clickTabChange(document.getElementById('NavTab'), 'choose_tab', 'tab');


</script>