<div class="order_confirm_distribution jdshop_shadow">
    <div class="text_list jdshop_alignment_center">
        <p>配送信息：</p>
        <p>京东配送</p>
    </div>
    <div class="text_list jdshop_alignment_center">
        <p>预计送达时间：</p>
        <p>6月17日12-15点</p>
    </div>
    <div class="text_list tips font_org">注意：提交订单后24小时内完成支付，否则订单会被自动取消</div>
</div>