<div class="order_confirm_remarks jdshop_shadow">
    <div class="textarea_list jdshop_alignment_center">
       <p>我的留言：</p>
        <textarea class="jdshop_textarea" placeholder="选填：对本次交易的说明（建议填写已和卖家达成一致的内容）" rows="1"></textarea> <p></p>
    </div>

</div>