<!-- 修改地址 -->
<div class="order_confirm_address jdshop_alignment_center jdshop_shadow">
    <div class="personal_info">
        <div class="name">庄中煲 <span>13516255278</span></div>
        <div class="address jdshop_alignment_top">
            <p class="location_icon"></p>
            <p>上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号上海市徐汇区虹桥路808号 </p>
        </div>
    </div>

    <a class="modify_address" href="../jdshop_address/delivery_address.html">
        <p class="font_middle_gary">修改地址</p>
    </a>

    <!-- 注意 新用户没有添加地址情况一下用这个样式-->
    <!-- 修改地址 -->
<!--    <a class="order_confirm_address jdshop_alignment_center jdshop_shadow">
        <div class="address_unfilled">
            <span></span>添加收货地址
        </div>
        <div><img src="../../images/product_go.png"></div>
    </a>-->

</div>