
<!-- 顶部导航 -->
<nav class="jd_top_bar">
    <div class="tab_box"></div>
    <div class="jd_top_contain jdshop_alignment_center">
        <a class="left" onclick="window.history.go(-1)">
            <p class="back"><img src="../../images/nav_go_back.png"></p>
        </a>
        <div class="content jdshop_alignment_center">填写发货单信息</div>
        <a class="right">
        </a>
    </div>
</nav>

<%- include('./cancel_service.ejs') %>


<footer class="order_details_tabbar">
    <div class="tab_box"></div>
    <div class="order_tabbar_contain jdshop_alignment_right">
        <a class="jdshop_btn_mini btn_gray_border" href="../return_service/application_record.html">取消</a>
        <a class="jdshop_btn_mini btn_red_border" href="../return_service/service_success.html">提交</a>
    </div>
</footer>
