<div class="jd_drop_down" id="general_list">
    <div class="jd_drop_down_content">
        <div class="general_list">
            <div class="selected" data-name="综合">综合排序</div>
            <div data-name="新品">新品优先</div>
            <div data-name="好评">好评率从高到低</div>
        </div>
    </div>
    <div class="jd_drop_down_bg"></div>
</div>

<script>


    //综合选择
    searchGeneral = new jfDropDown({

        'ele':'general_list',//id选择器

        'scrollClassname':'general_list'//带有滚动条元素的classname
    })


</script>


